<!--
<div class="row clearfix" id="footer">
  <div class="col-md-12 column">

  </div>
</div>
-->

<footer class="footer">
  <div class="container">
    <p class="text-center text-muted">
      <i>Crafted by</i> <a href="http://nerdspecs.com/" target="_blank">Nerd Specs Creative </a>
    </p>
    <p class="text-center text-muted">
      <span class="glyphicon glyphicon-warning-sign"></span> This is an ALPHA release! Bugs are expected! Please report them to brian@nerdspecs.com.
    </p>
  </div>
</footer>
